a {
    font-size: 30px;
    color: black;
    margin: 40px;
}


body{
    background-color: wheat;
}

*{
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif


}

